<!DOCTYPE html>
<html lang="en" class="hydrated">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexora - eCommerce Website</title>
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon">
  
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style-prefix.css">
  
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    
  
    <header>
        <div class="header-top">
            <div class="container">
                <ul class="header-social-container">
                    <li><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                </ul>
                <div class="header-alert-news">
                    <p><b>Free Shipping</b> This Week Order Over - ₹55</p>
                </div>
                <div class="header-top-actions">
                  <p id="bonus">Bonus: </p>
                  
                    <select name="currency">
                        <option value="inr">INR &#8377;</option>
                        <option value="usd">USD &#8377;;</option>
                        <option value="eur">EUR &euro;</option>
                    </select>
                    <select name="language">
                        <option value="en-US">English</option>
                        <option value="es-ES">Espa&ntilde;ol</option>
                        <option value="fr">Fran&ccedil;ais</option>
                    </select>
                    
                </div>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <a href="/" class="header-logo">
                    <img src="/static/logo/nexora.png" alt="Nexora's logo" width="120" height="66">
                </a>
                <div class="header-search-container">
                    <input type="search" name="search" class="search-field" placeholder="Enter your product name..." id="search-bar">
                    <button class="search-btn" onclick="search()"><ion-icon name="search-outline"></ion-icon></button>
                    
                </div>
            </div>
        </div>
        
    </header>

    <div class="product-featured">
        <h2 class="title"></h2>
            <div class="showcase">
                <div class="showcase-banner">
                    <img src="" id="product-image" class="showcase-img">
                </div>
                <div class="showcase-content">
                    <h3 class="showcase-title" id="product-name"></h3>
                    <div class="price-box">
                        <p class="price" id = "product-price"></p>
                    </div>
                    <button class="add-cart-btn" onclick="addToCart()">Add to Cart</button>
                        <div class="showcase-status">
                        <div class="wrapper">
                            <p>Carbon FootPrint </p>
                            <p>Score <b>40</b></p>
                        </div>
                        <div class="showcase-status-bar"></div>
                        <div class="showcase-status">
                            <div class="wrapper">
                                <p>Packaging </p>
                                <p>Score <b>30</b></p>
                            </div>
                            <div class="showcase-status-bar"></div>
                            <div class="showcase-status">
                                <div class="wrapper">
                                    <p>Environmental Impace </p>
                                    <p>Score <b>60</b></p>
                                </div>
                                <div class="showcase-status-bar"></div>
                                <div class="showcase-status">
                                    <div class="wrapper">
                                        <p>Total </p>
                                        <p>Score <b>40</b></p>
                                    </div>
                                    <div class="showcase-status-bar"></div>
                    </div>
                </div>
            </div>
    </div></div></div></div>

    <!-- ABOUT THE PRODUCT Section -->
    <div class="about-product">
        <h2>About the Product</h2>
        <p  id = "product-description">
          </p>
          <h2>Product's LifeCycle</h2>
          <p  id = "product-life-cycle">
            </p>
    </div>

    <div class="footer-nav">

        <div class="container">
  
          <ul class="footer-nav-list">
  
            <li class="footer-nav-item">
              <h2 class="nav-title">Popular Categories</h2>
            </li>
  
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Fashion</a>
            </li>
  
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Electronic</a>
            </li>
  
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Cosmetic</a>
            </li>
  
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Health</a>
            </li>
  
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Watches</a>
            </li>
  
          </ul>
  
          <ul class="footer-nav-list">
          
            <li class="footer-nav-item">
              <h2 class="nav-title">Products</h2>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Prices drop</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">New products</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Best sales</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Contact us</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Sitemap</a>
            </li>
          
          </ul>
  
          <ul class="footer-nav-list">
          
            <li class="footer-nav-item">
              <h2 class="nav-title">Our Company</h2>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Delivery</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Legal Notice</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Terms and conditions</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">About us</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Secure payment</a>
            </li>
          
          </ul>
  
          <ul class="footer-nav-list">
          
            <li class="footer-nav-item">
              <h2 class="nav-title">Services</h2>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Prices drop</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">New products</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Best sales</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Contact us</a>
            </li>
          
            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Sitemap</a>
            </li>
          
          </ul>
  
          <ul class="footer-nav-list">
  
            <li class="footer-nav-item">
              <h2 class="nav-title">Contact</h2>
            </li>
  
            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>
  
              <address class="content">
                419 State 414 Rte
                Beaver Dams, New York(NY), 14812, USA
              </address>
            </li>
  
            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="call-outline"></ion-icon>
              </div>
  
              <a href="tel:+607936-8058" class="footer-nav-link">(607) 936-8058</a>
            </li>
  
            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>
  
              <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
            </li>
  
          </ul>
  
          <ul class="footer-nav-list">
  
            <li class="footer-nav-item">
              <h2 class="nav-title">Follow Us</h2>
            </li>
  
            <li>
              <ul class="social-link">
  
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                </li>
  
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </li>
  
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                  </a>
                </li>
  
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
  
              </ul>
            </li>
  
          </ul>
  
        </div>
  
      </div>
  
      <div class="footer-bottom">
  
        <div class="container">
  
          <img src="/static/images/payment.png" alt="payment method" class="payment-img">

  
        </div>
  
      </div>
  
    </footer>
  

    <script src="/static/script/script-prefix.js"></script>
    <script src="/static/script/product.js"></script>
    <script src="/static/script/search.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
