<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link rel="stylesheet" href="/static/css/search.css" />
  </head>
  <body>
    <h1>Search Results</h1>
    <div id="products" class="product-container">
      <!-- Products will be dynamically displayed here -->
    </div>
    <div id="no-products" class="no-products" style="display: none">
      No products found
    </div>

    <script src="/static/script/search.js"></script>
    <script>
      searchIntialise();
    </script>
  </body>
</html>
